@import "tailwindcss";

@theme {
  --color-slate-950: #0a0a12;
  --color-electric-blue: #00eaff;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0a0a12;
  color: white;
}
